body {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px
}

.navDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    padding: 3px;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}