.navDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    padding: 3px;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}