body {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px
}

.navDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px;
}

.navDiv > b {
    font-size: large;
}

.navDiv > a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navDiv > a:hover {
    box-shadow: inset 0 0 0 100px #54b3d6;
    color: white;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}