body {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50px
}

.headerDiv {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.headerDiv > h1 {
    padding-inline: 10px;
}

.navDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    padding-inline: 30px;
    padding-block: 10px;
}

.navDiv > b {
    font-size: large;
}

.navDiv > a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navDiv > a:hover {
    box-shadow: inset 0 0 0 100px #54b3d6;
    color: white;
}